{% extends 'base_layout.html' %}

{% block content %}
    <body style="background-color:#E8E8E8;">
    <div class="center" style="height: 650px">
       <div class="login-container">
           <div class="text">Login Form</div>
           <form class="site-form" action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <input class="btn btn-primary login-button" type="submit" value="Login">
           </form>
       </div>
    </div>
    <body>
{% endblock %}